body {
  margin: 0;
  text-decoration: none;
  background: whitesmoke;
  height: fit-content;
}

.main-date {
  font-size: 123px;
  display: flex;
  margin-top: 26px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  color:rgba(107, 29, 252, 0.7);
}

.weekday {
  display: flex;
  height: 33px;
  width: 100%;
  margin-top: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 33px;
}




/* //////////////////////////Nav Bar//////////////////////////// */


.nav-container {
  align-items: center;
  height: 50px;
  margin-right: 5%;
  float: right;
  color: whitesmoke;
  background: #292929;
  padding: 5px 30px;
  display: flex;
  width: 20px;
  border-radius: 7px;
}

.ui.container {
  position: absolute;
  top: 30px;
  right: 5px;
  width: fit-content;
  margin-left: auto!important;
  margin-right: 50px!important;
  display: flex;
}


.nav-links{
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  margin: 0px 10px;
  text-transform: uppercase;
}

/* ///////////////////////Calendar////////////////////////// */

.row {
  display: flex;
  width: 100%;
}
.calendar {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  height: 70vh;
  font-size: 1.3rem;
  text-align: center;
}
.calendar header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
.calendar header .month-display {
  align-items: center;
  height: 40px;
  color: #292929
}
.calendar header .month-label {
  flex: 1;
}
.calendar header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar header .arrow:hover {
  background: #1f5c9d;
}
.calendar .day.today {
  background: rgba(107, 29, 252, 0.7) !important;
}
.calendar .day-names {
  color: #2875c7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-names .day {
  cursor: default;
  border-radius: 15px;
  margin: 3px;
  background:#292929;
  height: 40px;
  font-size: 16px;
}
.calendar .day-names .day:hover {
  background: inherit;
}
.calendar .day {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 1;
  cursor: pointer;
  transition: all .2s;
  border: solid 1px;
  border-radius: 11px;
  height: 112px;
  padding: 3px 10px;
  margin: 4px;
  background: #292929;
  color: whitesmoke;
}
.calendar .day:hover {
  background: #2875c7;
}
.calendar .day:first-child {
}
.calendar .day.today {
  background: #2875c7;
  border: solid 2px;
  border-radius: 11px;
  height: 112px;
}
.calendar .day.different-month {

}
.calendar .day.selected {
  background: #2875c7;
  color: #ffffff;
}


#dayOfWeek {
  display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #2875c7;
}

.main-button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
  width: 85%;
  margin-right: auto;
}

i.big.icon, i.big.icons {
  background: #292929;
border-radius: 4px;
width: 78px;
color: #2875c7;
}