body {
  margin: 0;
  text-decoration: none;
  background: whitesmoke;
  height: fit-content;
}

.main-date {
  font-size: 123px;
  display: flex;
  margin-top: 26px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  color:rgba(107, 29, 252, 0.7);
}

.weekday {
  display: flex;
  height: 33px;
  width: 100%;
  margin-top: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 33px;
}

.calendar-sidebar-div {
  height: 70%;
    margin-top: 45px;
    margin-right: 20px;
    padding: 9px;
    margin-left: 20px;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
}



.sidebar-task-1-div {
  background: #6435c9;
    width: 100%;
    height: 163px;
    padding: 9px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
}

.sidebar-task-2-div {
  background: #6435c9;
    width: 100%;
    height: 163px;
    padding: 9px;
}

.sidebar-task-3-div {
  background: #6435c9;
  width: 100%;
  height: 163px;
  padding: 9px;
}

.sidebar-task-4-div {
  background: #6435c9;
  width: 100%;
  height: 163px;
  padding: 9px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}


/* //////////////////////////Nav Bar//////////////////////////// */


.nav-container {
  align-items: center;
  height: 50px;
  margin-right: 5%;
  float: right;
  color: whitesmoke;
  background: #292929;
  padding: 5px 30px;
  display: flex;
  width: 20px;
  border-radius: 7px;
}

.ui.container {
  position: absolute;
  top: 30px;
  right: 5px;
  width: fit-content;
  margin-left: auto!important;
  margin-right: 50px!important;
  display: flex;
}


.nav-links{
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  margin: 0px 10px;
  text-transform: uppercase;
}

/* ///////////////////////Calendar////////////////////////// */

.row {
  display: flex;
  width: 100%;
}
.calendar {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  height: inherit;
  font-size: 1.3rem;
  text-align: center;
}
.calendar header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: default;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
.calendar header .month-display {
  align-items: center;
  height: 40px;
  color: #292929
}
.calendar header .month-label {
  flex: 1;
}
.calendar header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar header .arrow:hover {
  background: #1f5c9d;
}
.calendar .day.today {
  background: rgba(107, 29, 252, 0.7) !important;
}
.calendar .day-names {
  color: #2875c7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-names .day {
  cursor: default;
  border-radius: 15px;
  margin: 3px;
  background:#292929;
  height: 40px;
  font-size: 16px;
}
.calendar .day-names .day:hover {
  background: inherit;
}
.calendar .day {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 1;
  cursor: pointer;
  transition: all .2s;
  border: solid 1px;
  border-radius: 11px;
  height: 112px;
  padding: 3px 10px;
  margin: 4px;
  background: #292929;
  color: whitesmoke;
}
.calendar .day:hover {
  background: #2875c7;
}
.calendar .day:first-child {
}
.calendar .day.today {
  background: #2875c7;
  border: solid 2px;
  border-radius: 11px;
  height: 112px;
}
.calendar .day.different-month {

}
.calendar .day.selected {
  background: #2875c7;
  color: #ffffff;
}


#dayOfWeek {
  display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #2875c7;
}

.month-display-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  font-size: 24px;
}

.main-button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: auto;
  width: 85%;
  margin-right: auto;
}

i.big.icon, i.big.icons {
  background: #292929;
border-radius: 4px;
width: 78px;
color: #2875c7;
}














.event-div {
  margin-bottom: 111px;
}

.event-main-title {
  font-size: 64px;
  position: absolute;
  top: 10px;
  left: 15px;
  color:rgba(107, 29, 252, 0.7);
}

table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
}
table thead tr th {
  background: #292929;
  color: whitesmoke;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px  0 0;
}
table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  background: #d1d5db;
  color: #626e7e;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table tbody tr {
  background: rgb(199, 199, 199);
}
table tbody tr:nth-child(odd) {
  background: rgb(199, 199, 199);
}
table tbody tr:nth-child(4n+0) td {
  border-bottom: 2px solid ;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  position: relative;
  height: 32px;
  cursor: pointer;
}
table tbody tr td:last-child {
  border-right: 1px solid;
}
table tbody tr td.hour {
  font-size: 2em;
  padding: 0;
  color: rgba(107, 29, 252, 0.7);
  background: #292929;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
  border-top: 0px;
}
table tbody tr td.hour span {
  display: block;
}
@media (max-width: 60em) {
  table thead tr th .long {
    display: none;
  }
  table thead tr th .short {
    display: block;
  }
  table tbody tr td.hour span {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  table thead tr th .day.active {
    background: orange;
    color: #626e7e;
  }
  table tbody tr td.hour {
    font-size: 1.7em;
  }
  table tbody tr td.hour span {
    transform: translateY(16px) rotate(270deg);
    -webkit-transform: translateY(16px) rotate(270deg);
    -moz-transform: translateY(16px) rotate(270deg);
  }
}







.resize-drag {
   background: rgba(107, 29, 252, 0.7);
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  touch-action: none;
  width: 120px;
  height: 82px;
  max-width: 95vw;
  box-sizing: border-box;
}

.resize-container {
  display: inline-block;
  width: 95.4vw;
  background: lightgray;
    border-bottom: 1px solid;
}

#drag-2 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  width: fit-content;
  margin: 20px;
  border-radius: 0.75em;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}



















/* #page {
  max-width: 960px; padding: 0 15px; margin: 40px auto;
  @media (max-height: 790px) {
    margin-top: 0;
  }
}
.page-header h1 { text-align:center; font-weight: 100; }

.input, select {
  padding: 2px 5px;
}
.btn {
  padding: .2em .8em;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
  background-repeat: no-repeat; // fix for firefox
}

.bubble {
  box-shadow: 0 2px 4px rgba(0,0,0,.2); border-radius: 2px;
  background: #fff; padding: 15px;
  width: 420px;
  z-index: 99;
  position: absolute;

  .close {
    position: absolute; font-size: 24px; line-height: 1;
    padding: 0 5px;
    right: 5px; top: 5px;
  }
}

.bubble {
  border-color: #ccc;
  border: 1px solid border-color;
  .arrow, .arrow:after {
    position: absolute; height: 0; width: 0; font-size: 0; .horizontal-border(transparent, 10px);
  }
  &-top, &-bottom {
    .arrow {
      left: 50%; margin-left: -10px;
    }
    .arrow:after {
      content: ''; left: -10px;
    }
  }
  &-top {
    .arrow {
      border-top: @border-color 10px solid; top: 100%;
    }
    .arrow:after {
      border-top: #FFF  10px solid; bottom: 1px;
    }
  }
  &-bottom {
    .arrow {
      border-bottom: @border-color 10px solid; bottom: 100%;
    }
    .arrow:after {
      border-bottom: #FFF  10px solid; top: 1px;
    }
  }
}


.form-group {
  .clearfix; padding-bottom: 8px;
  &>label {
    float: left; width: 4em; text-align: right; padding-right: 5px;
  }
  &>input, &>.input-wrapper {
    margin-left: 4em;
    display: block;
  }
}


.btn-delete {
  margin-top: 5px;
  display: none;
  .text-danger;
  &:hover {
    text-decoration: underline;
  }
}

.usage { margin-top: 10px; } */
